body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    Font-size: 15px;
    overflow: hidden; 
}

#main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    width: 290px;
    min-height: 350px;

}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;

}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
    line-height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
    line-height: 30px;

}

#luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
    line-height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button {
    margin-top: 50px;
    padding: 13px 25px 13px 25px;
    border: none;
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

#sedans_button {
    color: hsl(31, 77%, 52%);
}

#sedans_button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: hsl(31, 77%, 52%);
    transition: 0.4s;
}

#suvs_button {
    color: hsl(184, 100%, 22%);
}

#suvs_button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: hsl(184, 100%, 22%);
    transition: 0.4s;
}

#luxury_button {
    color: hsl(179, 100%, 13%);
}

#luxury_button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: hsl(179, 100%, 13%);
    transition: 0.4s;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width:885px) {

    #sedans,
    #luxury {
        border-radius: 0px;
    }
}